.matcher {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
  'title'
  'list'
  'caption';
}

.matcher__title {
  position: fixed;
  top: 20px ;
  grid-area: title;
  justify-self: center;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.04rem; 
  animation: gradientRotate 3s linear infinite;
}

.matcher__title::before {
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.matcher__caption {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  display: block;
  justify-self: center;
  grid-area: caption;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.04rem; 
  color: #fff;
  animation: flicker 3s linear infinite;
}

.matcher__caption::before {
  z-index: -1;
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.matcher__colorsList {
  grid-area: list;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
}

.matcher__plusBtnIcon {
  fill: #fff;
}

.matcher__plusBtn {
  position: fixed;
  top: 4%;
  right: 4%;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in;
}

.matcher__plusBtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.matcher__plusBtn:hover.matcher__plusBtn::after {
  position: absolute;
  bottom: -35px;
  left: 0;
  content: 'Add column';
  width: 70px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.75rem;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
}

.matcher__plusBtn:hover.matcher__plusBtn::before {
  position: absolute;
  content: '';
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.3);
  bottom: -14px;
  left: 10px;
}

@keyframes flicker {
    0% {
      opacity: 0.3;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.3;
    }
}

@keyframes gradientRotate {
  from {
    filter: hue-rotate(0)
  }
  to{
    filter: hue-rotate(360deg);
  }
}